# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    # -   id: detect-aws-credentials
    -   id: detect-private-key
-   repo: https://github.com/myint/autoflake
    rev: v2.2.1
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --expand-star-imports
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
        exclude: ^clinic/views\.py$
# -   repo: https://github.com/PyCQA/isort
#     rev: 5.11.5
#     hooks:
#     -   id: isort
-   repo: https://github.com/psf/black
    # https://stackoverflow.com/questions/71673404/importerror-cannot-import-name-unicodefun-from-click
    rev: 24.1.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
            - --max-line-length=120
            - --ignore=E203,W503
# https://stackoverflow.com/questions/59730765/is-it-possible-to-run-mypy-pre-commit-without-making-it-fail
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    -   id: mypy
        args: [--ignore-missing-imports]
        additional_dependencies:
            - 'pydantic'
            - 'sqlalchemy-stubs'
            - 'types-requests'
            - 'types-python-dateutil'
        verbose: true
        entry: bash -c 'mypy "$@" || true' --
