name: Deploy to Lambda
on:
  pull_request:
    branches:
      - main
      - prod
    types:
      - opened
      - synchronize
      - closed

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-django django-debug-toolbar
        pip install -r requirements-dev.txt
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    # - name: Test with pytest
    #   run: |
    #     python manage.py test --settings=config.settings.testing
    #     pytest -v

  deploy:
    name: Build Artifact & Deploy to AWS Lambda
    # needs: pytest
    if: |
      (
        github.event.action == 'closed' &&
        github.event.pull_request.merged == true &&
        github.event.pull_request.base.ref == 'prod' &&
        github.event.pull_request.head.ref == 'main'
      )
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: build zip
      run: sh build.sh
    - name: Extract branch name
      shell: bash
      run: |
        echo "event name is:" ${{ github.event_name }}
        echo "event type is:" ${{ github.event.action }}
        [ "${{ github.event.action }}" = "closed" ] && branch=${{ github.event.pull_request.base.ref }} || branch=${{ github.event.pull_request.head.ref }}
        echo "current branch: ${branch}"
        echo "branch=${branch}" >> $GITHUB_OUTPUT
      id: extract_branch
    - name: Configure AWS credentials (for prod)
      if: github.event.pull_request.base.ref == 'prod'
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-east-1
    - name: Update lambda function with zip file with the AWS CLI
      run: |
        echo update lambda code
        alias_name=${{ steps.extract_branch.outputs.branch }}
        echo "deploy to lambda function: zcps-backend"
        # Update function
        version=$(aws lambda update-function-code \
          --function-name  zcps-backend \
          --zip-file fileb://artifact.zip \
          --publish | jq -r '.Version')

        # Update/Create alias
        alias_exists=$(aws lambda list-aliases --function-name "zcps-backend" --query "Aliases[?Name=='$alias_name']" --output text)
        if [ -z "$alias_exists" ]; then
            echo "Alias '$alias_name' does not exist for function 'zcps-backend'. Creating alias..."
            # Create the alias
            aws lambda create-alias --function-name "zcps-backend" \
              --name "$alias_name" \
              --function-version "$version"
            echo "Alias '$alias_name' created for function 'zcps-backend' with version '$version'."
        else
            echo "Alias '$alias_name' already exists for function 'zcps-backend'. Updating alias..."
            # Update the alias
            aws lambda update-alias --function-name "zcps-backend" \
              --name "$alias_name" \
              --function-version "$version"
            echo "Alias '$alias_name' updated for function 'zcps-backend' with version '$version'."
        fi
